		body {margin: 0; padding: 0}
		
		.call-to-action-form {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 400px; height: 550px; background-color: #DCDCDC; /*box-shadow: 0 0 2px 0px black;*/ z-index: 10; display: none;}

		button {outline: none;}

				

			.flex {display: flex; justify-content: space-between;}
			.fixed-conteiner {max-width: 1170px; margin: 0 auto; padding-left: 35px; padding-right: 35px;}

			.padding-t {padding-top: 103px;}
			.padding-b {padding-bottom: 103px;}
			.Rmargin-20 {margin-right: 20px;}

			.call-to-action-button_center-position {margin: 0 auto; text-align: center;}

			.call-to-action-button_red button {width: 270px; height: 60px; background-color: #ff4e2e; font-family: Roboto; font-size: 18px;line-height: 45px; font-weight: 400; color: #ffffff; cursor: pointer;}

			.block__name {text-align: center;}
			.block__name-font {font-family: Roboto; font-size: 54px;line-height: 59px;font-weight: 700;color: #262626;}

	         .nav__backcall-form {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 400px; height: 550px; background-color: #DCDCDC; /*box-shadow: 0 0 2px 0px black;*/ z-index: 10; display: none;}
	         .backcall-form__header{font-family: Roboto;font-size: 34px;line-height: 34px;font-weight: 700;color: #262626; padding-top: 50px; width: 100%; text-align: center; padding-bottom: 50px;}
	         .backcall-form__text {padding-left: 30px; padding-bottom: 20px; font-family: Roboto; font-size: 18px;line-height: 24px;font-weight: 700;color: #262626; }
	         .backcall-form__input {margin-left: 30px; margin-bottom: 20px; margin-right: 30px; padding: 5px 0; font-size: 24px; outline: none; width: 330px;}
	         .backcall-form__input_cont-number_Error {border: 1px solid red;}
			 .backcall-form__soglasie_checkbox {margin-left: 30px; margin-right: 10px; /*padding: 5px;*/ width: 15px; height: 15px;}
			 .backcall-form__soglasie span {line-height: 22px; }
			 .backcall-form__soglasie {margin: 20px 0  40px;}
	         .backcall-form__submit-conteiner {margin: 20px auto; width:300px; text-align: center;}
	         .backcall-form__submit {font-family: Roboto; font-size: 18px;line-height: 24px;font-weight: 700;color: #262626; padding: 10px 50px; background-color: red;border: 0; text-align: center; cursor: pointer; outline: none;}
	         .backcall-form__exit_button {position: absolute; top: 10px; right: 10px;}
 			 .backcall-form__exit_button button {font-size: 15px; background-color: transparent; border: 0; cursor: pointer;}
 			 .backcall-form__exit_button button:hover {transform: rotate(360deg); transition-duration: 2s;}
 			 .backcall-form__submit:disabled {background-color: #A9A9A9;}
 			 .backcall-form__success-page {font-family: Roboto;font-size: 34px;line-height: 54px;font-weight: 700;color: #262626; padding-top: 100px; width: 80%; text-align: center; margin: 0 10%; display: none;}
 			 .backcall-form__success-page_text2 {font-size: 24px;}


		@media (max-width: 1024px) {
				
				body {max-width: 1920px; margin: 0;}
					.flex {flex-wrap: wrap;}
					.call-to-action-button_red button {width: 320px; height: 68px; }
					.block__name-font {font-size: 54px; line-height: 59px;}
			}	

			@media (max-width: 900px) {
				.call-to-action-button_red button {width: 280px; height: 55px;}
			}

		@media (max-width: 650px) {
					.fixed-conteiner {padding: 0 20px;}
					.header-bottom-button-mob {text-align: center;}
					.block__name-font {font-size: 30px; line-height: 35px;}
				} 


		header {width: 100%; margin: 0; padding: 30px 0; background-color: #fbfbfb; position: fixed; z-index: 5; top: 0; left: 0;}
		
			.nav-conteiner {}

				.nav-conteiner1 {}
					.nav-items-conteiner {list-style-type: none; margin: 0; padding-left: 0;}
					.nav-item__link a {font-family: Roboto; font-size: 16px; font-weight: 400; color: #1f1f24; text-decoration: none; line-height: 45px; margin-right: 13px;}
					.nav-item__link:last-child {margin-right: 0px;}
					.active a {color: #fc557c; text-decoration: underline;}
					.nav-item__exit-button {display: none; font-size: 15px; background-color: transparent; border: 0; cursor: pointer; }
					.nav-item__exit-button:hover {transform: rotate(360deg); transition-duration: 2s;}
					.nav__mob-menu-button {display: none; height: auto;}
					.nav__mob-menu-button button {background-image: url('img/mob_menu.png'); background-repeat: no-repeat; background-color: transparent; border: 0; width: 45px; height: 100%; background-size: 100%; padding: 0; cursor: pointer; background-position: center center;}

				.nav-conteiner2 {}
					.nav__contact-tel {font-family: Roboto; font-size: 25px; line-height: 45px; font-weight: 700; color: #1f1f24; margin-right: 40px;}
					.nav__backcall-button button {font-family: Roboto; font-size: 16px; line-height: 43px; font-weight: 400; color: #f53f4f; text-align: center; margin-right: auto; margin-left: auto; width: 210px; border: 1.0px solid #f82370; height: 45px; background-color: transparent; cursor: pointer; outline: none;}
					.nav__backcall-button-mob {width: 26px; height: 100%; display: none;}
					.nav__backcall-button-mob button {width: 100%; height: 100%; border: 0; background-color: transparent; background-image: url('img/backcall_mob.png'); background-repeat: no-repeat; background-position: center center; background-size: contain;}
				
				@media (max-width: 1024px) {
					.header__top-conteiner{}
						.nav__mob-menu-button {display: block;}
						.nav-items-conteiner {display: none; height: 400px; width: 300px; background-color:#DCDCDC; z-index: 10; position: absolute; left: 30px; top: 0px;}
						.nav-items-conteiner a {font-size: 24px;}
						.nav-item__link:first-child {padding-top: 40px;}
						.nav-item__exit-button {display: block; position: absolute; right: 10px; top: 10px;}
						.nav-item__exit-button button {width: 100%; height: 100%; background-color: transparent; border: 0; color: grey; cursor: pointer; font-size: 15px;}
						.nav__contact-tel {font-size: 25px; line-height: 45px;}
				}
				
			


			@media (max-width: 580px) {
					header {}
					
					.header__top-conteiner{}
						.nav__mob-menu-button button {width: 24px; line-height: 26px;}
						.nav__contact-tel {font-size: 18px; line-height: 26px;}
						header * .nav__backcall-button {display: none;}
						.nav__backcall-button-mob {display: block;}

		}

		main {}
			.first-section-container {margin-top: 85px; padding-top: 200px; padding-bottom: 220px; position: relative; background-image: url('img/bg_2.jpg'); background-position: 70% center; background-size: cover;}
				
				.header__bottom__mobile-version{display: none;}
				.fio {font-family: Roboto; font-size: 80px; line-height: 104px; font-weight: 900; color: #1f1f24;}
				.profession {margin-bottom: 30px; font-family: Roboto; font-size: 25px; line-height: 54px; font-weight: 400;color: #8993ad; width: 100%;}

			.flying-symbols__conteiner > div {position: absolute; background: linear-gradient(#f26522 0%, #fa0891 100%); -webkit-background-clip: text; color: transparent; /*transition: all 2s;*/}
				.flying-symbols__item1 {left: 125px; top: 6.5%; font-family: Roboto; font-size: 48.8px; line-height: 43px; font-weight: 700; transform: rotate(20deg);}
				.flying-symbols__item1:hover {left: 200px; top: 10%; transition-duration: 1s}
				.flying-symbols__item3 {left: 375px; bottom: 50px; font-family: Roboto; font-size: 40.8px; line-height: 36px;font-weight: 700;color: #6055c4; transform: rotate(-20deg);}
				.flying-symbols__item4 {left: 41%; top: 85px; font-family: Roboto; font-size: 29.9px; line-height: 26px;font-weight: 700; color: #6055c4; transform: rotate(-10deg);}
				.flying-symbols__item5 {left: 50%; bottom: 175px; font-family: Roboto; font-size: 37.6px; line-height: 33px;font-weight: 700; color: #6055c4; transform: rotate(25deg);}
		
		@media (max-width: 1024px) {
				
					.first-section-container {padding-top: 300px; padding-bottom: 235px;}
						.fio {font-size: 54px; line-height: 84px;}
						.profession {width: 55%; font-size: 25px; line-height: 54px;}
						
						.flying-symbols__item1 	{}
						.flying-symbols__item2 {left: 60px; top: 85%;}
						.flying-symbols__item3 {bottom: 130px;}
						.flying-symbols__item4 {left: 85%; top: 15%;}
						.flying-symbols__item5 {left: 40%; bottom: 65%;}

		}

		@media (max-width: 650px) {
					.first-section-container {padding-top: 65px; padding-bottom: 120px; margin-top: 65px; background-position: 85%;}
					.first-section {visibility: hidden;}
						.header__bottom__mobile-version {display: block; text-align: center;}
						.fio {font-size: 30px; line-height: 51px; text-align: center; padding-bottom: 20px; padding-top: 20px;}
						.profession {text-align: center; margin: 0; padding: 0 5% 40px 5%; font-size: 16px; line-height: 16px; text-align: center; width: 90%;}
						.header__bottom__mobile-version > div:first-child {padding-top: 5px; padding-bottom: 5px;}
						.header__bottom__mobile-version > div:nth-child(2) {line-height: 20px; padding-bottom: 27px;}
						.flying-symbols__item1 {left: 10%; font-size: 22px;}
						.flying-symbols__item2 {left: 10%; top: 50%; font-size: 22px;}
						.flying-symbols__item3 {display: none;}
						.flying-symbols__item4 {left: 75%; font-size: 22px;}
						.flying-symbols__item5 {display: none;}
				}


		#services{}

		.services__item-conteiner {justify-content: space-between;}
		
			.sevices__icon {width: 82px; height: 76px; margin: 0 auto;}

			.sevices__text {width: 260px; text-align: center; padding-top: 10px;}
			.sevices__text-font {font-family: Roboto;font-size: 20px;line-height: 30px;font-weight: 400;color: #8993ad;}
			.sevices__text2 {padding-left: 20px;}

			.sevices-icon1 {background-image: url('img/service_item_1.png'); background-repeat: no-repeat; background-size: contain;}
			.sevices-icon2 {background-image: url('img/service_item_2.png'); background-repeat: no-repeat; background-size: contain;}
			.sevices-icon3 {background-image: url('img/service_item_3.png'); background-repeat: no-repeat; background-size: contain;}
			.sevices-icon4 {background-image: url('img/service_item_4.png'); background-repeat: no-repeat; background-size: contain;}
		
		#services > div > div.call-to-action-button_center-position {padding-top: 90px;}

		@media (max-width: 1024px) {
			/* #services > div > div.block__name {padding-top: 85px;} */
			#services * div.block__name {padding-top: 85px; padding-bottom: 90px;}
			.services__item-conteiner {margin-left: 120px; margin-right: 120px; justify-content: space-around;}		
					.services-item {margin-bottom: 45px;}
					.services-item:nth-child(-n+2) {margin-bottom: 90px;}
						.sevices__icon{}
						.sevices__text {width: 260px;}
						.sevices__text-font {font-size: 20px; line-height: 30px;}
				#services > div > div.call-to-action-button_center-position {padding-top: 50px; padding-bottom: 95px;}
			}

			@media (max-width: 760px) {
					.services-item1, .services-item2, .services-item3 {margin-bottom: 50px !important;}
					.services-item4 {margin-bottom: 0px;}
					
					.swiper-slide >div {font-size: 18px;}
					.SW-container {width: 100%;}

				}

				@media (max-width: 650px) {
					.service-block {padding: 0 20px 0;}
					.services__item-conteiner {margin-left: 120px; margin-right: 120px; justify-content: space-around; margin-top: 0;}		
						#services * div.block__name {padding-top: 43px; padding-bottom: 43px;}
						.services-item:last-child {margin-bottom: 25px;}
						.sevices__icon{width: 61px; height: 56px;}
						.sevices__text {width: 254px; padding-top: 12.5px;}
						.sevices__text-font {font-size: 16px; line-height: 26px;}
					#services > div > div.call-to-action-button_center-position {padding-top: 25px; padding-bottom: 0px;}
				}

		#examples {background-color: #fbfbfb;}
		#examples>div>div.block__name{padding-top: 85px;}

			.examples-conteiner {position: relative;}

				    .SW-container {position: relative; max-width:1170px; width: 100%; margin: 0 auto;}
							.swiper-container {width: 100%; max-width: 1150px;} 
							
							.swiper-button-prev, .swiper-button-next {width: 62px; height: 62px; background-color: white; border-radius: 90%; box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07); border: 0; z-index: 10; outline: none;}
							.swiper-button-prev {position: absolute; top: 32%; left: -31px;}
							.swiper-button-next {position: absolute; top: 32%; right: -31px;}
							.swiper-button-next:after, .swiper-button-prev:after {font-size: 18px; color: #8d8c8c;}
								
							.SW-container img {width: 100%; max-width: 394px;}
/* 
							@media (min-width: 1024px) {
								.swiper-slide {margin-right: auto;}
								.swiper-slide:last-child {margin-right: 0;}
							} */

							.swiper-slide >div {text-align: center; width: 100%; height: 60px; margin-left:0; margin-top: 30px;
								font-family: Roboto; font-size: 20px; line-height: 30px; font-weight: 400; color: #8993ad;}

							.swiper-pagination {width: 100%; margin-top: 70px; position: relative; display: none; margin-bottom: 40px;}
							.swiper-pagination-bullet {margin-right: 50px !important; width: 18px !important; height: 18px !important; }
							.swiper-pagination-bullet:last-child {margin-right: 0px !important;}
				.examles__order-button {padding-top: 60px;}

				.examples > div {overflow-x: hidden;}

		@media (max-width: 1024px) {
			#examples>div>div.block__name {padding-top: 95px;}
			.swiper-slide >div {font-size: 25px;}
			.swiper-pagination {display: block;}
			.SW-container img {width: 100%; max-width: 457px;}
			.examles__order-button {padding-bottom: 100px;}
			.swiper-slide >div {margin-top: 20px;}

		}

		@media (max-width: 760px) {
								.SW-container {max-width: 395px;}
								.swiper-button-prev, .swiper-button-next {display: none;}
								
							}

		@media (max-width: 650px) {
								#examples>div>div.block__name {padding-bottom: 40px;}
								.SW-container img {height: 255px;}
								.swiper-slide >div {margin-top: 5px; font-size: 16px;}
								.swiper-pagination {margin-top: 10px; margin-bottom: 0;}
								.swiper-pagination-bullet {margin-right: 10px !important; width: 12px !important; height: 12px !important; }
							    .swiper-pagination-bullet:last-child {margin-right: 0px !important;}
								.examles__order-button {padding: 40px 0 50px 0;}
		}

		.banner{background-color: #ebebeb; background-image: linear-gradient(13.0deg, #ff8f5a 26%, #ff2f96 73%);padding-left: 20px; padding-right: 20px; position: relative;}
			
			.banner__name {margin: 0px auto 0px auto; padding-top: 70px; padding-bottom: 30px; max-width: 942px;}
			.banner__name-font {font-family: Roboto;font-size: 45px;line-height: 60px;font-weight: 700;color: #ffffff;}
			
			.banner__discriptor {margin: 0px auto 0px auto; padding-bottom: 70px; max-width: 942px;}
			.banner__discriptor-font {font-family: Roboto;font-size: 20px;line-height: 30px;font-weight: 400;color: #ffffff; font-size: 20px;}
			.banner__flying-symbols__conteiner {}
				.banner__flying-symbols__item1 {position: absolute; left: 125px; top: 65px; font-family: Roboto; font-size: 48.8px; line-height: 43px;font-weight: 700;color: #ffffff; transform: rotate(15deg); transition-property:all; transition-duration: 3s;}
				.banner__flying-symbols__item1:hover {top: 100px;}
				.banner__flying-symbols__item2 {position: absolute; left: 240px; bottom: 65px; font-family: Roboto;font-size: 57.2px;line-height: 51px;font-weight: 700;color: #ffffff; transform: rotate(15deg);}
				.banner__flying-symbols__item3 {position: absolute; right: 200px; top: 75px; font-family: Roboto; font-size: 37.6px; line-height: 33px;font-weight: 700;color: #ffffff; transform: rotate(-15deg);}
				.banner__flying-symbols__item4 {position: absolute; right: 410px; bottom: 25px; font-family: Roboto;font-size: 40.8px; line-height: 36px; font-weight: 700;color: #ffffff; transform: rotate(20deg);}
				.banner__flying-symbols__item5 {position: absolute; right: 100px; bottom: 40px; font-family: Roboto; font-size: 50px;line-height: 44px;font-weight: 700;color: #ffffff; transform: rotate(-15deg);}
				

				@media (max-width: 1024px) {
					.banner__name {padding-top: 70px;}
					.banner__name-font {font-size: 45px; line-height: 60px;}
					.banner__discriptor {padding-bottom: 80px;}
					.banner__discriptor-font {font-size: 20px; line-height: 30px;}

					.banner__flying-symbols__item1 	{font-size: 32px; top: 20px;}
					.banner__flying-symbols__item2 {display: none;}
					.banner__flying-symbols__item3 {top: 85%; right: 15%; font-size: 32px;}
					.banner__flying-symbols__item4 {right: 45%; bottom: 8%; font-size: 28px;}
					.banner__flying-symbols__item5 {display: none; font-size: 32px;}	
				}
					
					@media (max-width: 650px) { 

					.banner__name {padding-top: 45px;}
					.banner__name-font {font-size: 28px; line-height: 40px;}
					.banner__discriptor {padding-bottom: 45px;}
					.banner__discriptor-font {font-size: 16px; line-height: 30px;}

					.banner__flying-symbols__item1 	{display: none;}
					.banner__flying-symbols__item2 {display: none;}
					.banner__flying-symbols__item3 {display: none;}
					.banner__flying-symbols__item4 {display: none;}
					.banner__flying-symbols__item5 {display: none;}
				}
		

		.footer__top {background-color: #fbfbfb; padding-left: 20px; padding-right: 20px; padding-top: 90px; padding-bottom: 60px; margin: 0;}

			.footer__top-conteiner__nav {width: 33%;}
				.footer__top-conteiner__nav__item-font {font-family: Roboto; font-size: 18px; line-height: 35px; font-weight: 400; color: #8993ad;}

			.footer__top-conteiner__contacts {width: 33%;}
				.footer__top-conteiner__contacts-font {font-family: Roboto; font-size: 25px; line-height: 60px; font-weight: 500; color: #8993ad; margin-left: 15px;}

			.footer__top-conteiner__SMM {width: 33%;}
			.footer__top-conteiner__SMM > div.nav__backcall-button {text-align: right; width: 100%;}
			.footer__top-conteiner__SMM > div.nav__backcall-button button {width: 250px; margin-right: 25px;}
				.footer__top-conteiner__SMM__item-conteiner {justify-content: space-between; width: 60%; margin-right: 10%; margin-left: 30%; margin-top: 20px;}
				.footer__top-conteiner__SMM-item {margin-top: 15px; width: 45px; height: 45px;}
				.footer__smm-vk {background-image: url('img/SMM.png'); background-repeat: no-repeat; background-position-x: -10px; background-position-y: 65%; background-size: auto 100%;}
				.footer__smm-fb {background-image: url('img/SMM.png'); background-repeat: no-repeat; background-position-x: -80px; background-position-y: 65%; background-size: auto 100%;}
				.footer__smm-tw {background-image: url('img/SMM.png'); background-repeat: no-repeat; background-position-x: -140px; background-position-y: 65%; background-size: auto 100%;}
				.footer__smm-ig {background-image: url('img/SMM.png'); background-repeat: no-repeat; background-position-x: -210px; background-position-y: 65%; background-size: auto 100%;}

		.footer__bottom {background-color: #31293c; text-align: center; padding: 10px 0;}
		.footer__bottom-font {font-family: Roboto; font-size: 16px; line-height: 59px;font-weight: 400; color: #ffffff;}


			@media (max-width: 1024px) {
					.footer__top {padding-left: 0; padding-right: 0; padding-top: 100px;}
						.footer__top-conteiner__nav__item-font {font-size: 18px; line-height: 33px;}
						.footer__top-conteiner__contacts-font {font-size: 25px; line-height: 59px;}
					.footer__bottom-font {font-size: 16px; line-height: 59px;}
					.footer__top-conteiner__nav {width: 27%;}
					.footer__top-conteiner__contacts {width: 38%;}
					.footer__top-conteiner__SMM {width: 33%;}
					.footer__top-conteiner__SMM > div.nav__backcall-button button {margin-right: 0px;}
					.footer__top-conteiner__SMM__item-conteiner {width: 80%; margin-right: 0%; margin-left: 20%;}


				}

				@media (max-width: 900px) {
					.footer__top-conteiner__nav__item-font {font-size: 15px; line-height: 32px;}
					.footer__top-conteiner__contacts-font {font-size: 18px; line-height: 40px;}
					footer * div.nav__backcall-button > button {width: 100% !important; background-color: #ff4e2e; margin-bottom: 0px; color: white;}
					.footer__top-conteiner__SMM__item-conteiner {width: 100%; margin-right: 0%; margin-left: 0%;}
					.footer__top-conteiner__nav {width: 20%;}
					.footer__top-conteiner__contacts {width: 45%;}
				} 


				@media (max-width: 650px) {
					.footer__top {padding-top: 40px; padding-bottom: 0px;}
					.footer__top-conteiner__nav {width: 100%;}
					.footer__top-conteiner__contacts {width: 100%;}
					.footer__top-conteiner__SMM {width: 33%;}
						.footer__top-conteiner__contacts {padding: 30px 0;}
						.footer__top-conteiner__contacts > div { margin-left: 0;}
						.footer__top-conteiner__SMM > div.footer__top-conteiner__SMM__item-conteiner {justify-content: space-around; margin: 20px 0 0 0; width: 100%;}
						.footer__top-conteiner__SMM {width: 100%; margin-bottom: 20px;}
						
					.footer__bottom-font {font-size: 12px; line-height: 59px;}
					.footer__bottom {padding: 0;}
					}